// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


$sans: "Open Sans", "Helvetica", sans-serif;
$serif: "Source Serif Pro", Georgia, serif;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 600px;
  width: 80vw;
  margin: 0 auto;

  // counter for footnotes
  counter-reset: fn-counter 0;
}

.center {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.sticky {
  position: sticky;
  z-index: -1;
  top: 0;
}

p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.7;
  font-family: $serif;
}

svg {
  text {
    font-family: $sans;
    font-size: 12px;
  }
}

.step {
  height: 90vh;

  p {
    background-color: #FFFE;
    padding: 20px;
  }
}

section {
  margin-top: 30px;
}

section.header {
  width: 90vw;
  max-width: 800px;
  margin: 200px 0 100px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .hed {
    font-family: $serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
  }

  .subhed {
    font-family: $sans;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2;
  }
  // .hed, .subhed {
  //   font-family: $sans;
  //   font-weight: 400;
  // }

}

section.preamble {
  width: 80vw;
  .globe {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;

    div.dots-container {
      flex-grow: 1;
    }
    figure {
      height: calc(800px / 3);
      margin: 20px 20px 20px 100px;
    }

    p {
      font-family: $sans;
      font-size: 14px;
    }
    p.caption {
      &::after {
        content: " Click on the globe to see a country-level breakdown for each region.";
        font-style: italic;
      }
    }
    p.legend {
      font-style: italic;
      font-size: 12px;
    }

  }
  .globe-canvas {
    width: 40%;
    max-width: calc(800px / 3);
    aspect-ratio: 1 / 1;
  }

  .intro-dots {
    position: relative;
    // aspect-ratio: 1 / 1;

    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      font-family: $sans;
      font-size: 10px;
    }

    svg {
      position: absolute;
    }

    span {
      text-align: right;
      text-transform: capitalize;
      transform: translate(-100%, -50%);
      font-family: $sans;
      font-size: 12px;

      position: absolute;
      // left: -10;
      transition: top 0.2s;
    }
  }
}

section.education {
  min-height: 300px;
  .education-chart {
    // aspect-ratio: 1 / 1;
    width: 100%;
    // max-height: 800px;
    height: 60vh;

    margin: 10vh 0;
    top: 10vh;

    .xaxis text {
      font-family: $sans;
      font-size: 12px;
      text-transform: capitalize;
    }

    text.label {
      font-weight: bold;
    }
  }
}

div.tooltip {
  max-width: 200px;
  font-family: $sans;
  font-size: 12px;
  background-color: white;
  padding: 7px 5px;
  border: 1px solid black;
  border-radius: 2px;
}

p.notes {
  font-style: italic;
  font-family: $sans;
  font-size: 12px;
}

section.occupation {
  width: 90vw;
  max-width: 800px;
  figure {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

    .wrapper {
      position: relative;
      span {
        font-family: $sans;
        font-size: 12px;
        position: absolute;
        top: -2;
        left: 15;
      }
    }
  }
}


// FIXME: HACKS THAT WE SHOULD CHANGE
h2 {
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
  font-family: $sans;
}

h3 {
  font-family: $serif;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  max-width: 600px;
  width: 80vw;
  margin: 0 auto;
  line-height: 1.7;

}

.highlight {
  padding: 2px 4px;
  border-radius: 3px;
  border: 1px solid #aaa;
  color: white;

  &.dark {
    color: black;
  }
}

.definition {
  text-decoration-line: underline;
  // text-decoration-color: #44f;
  // text-decoration-style: dotted;
  cursor: pointer;

  counter-increment: fn-counter 1;
  &::after {
    // content: counter(fn-counter);
    content: "?";
    font-size: 0.4em;
    vertical-align: super;
    // margin-left: 0.2em;
  }
}

.glossary-tooltip {
  // width: 90vw;
  font-family: $sans;
  font-size: 12px;
  max-width: 25vw;
  max-height: 300px;
  padding: 10px;
  border-radius: 3px;
  position: absolute;

  background: white;
  border: 1px solid #44f;
  display: none;

  &.open {
    display: block;
  }
}

section.nerdbox {
  background-color: #eee;
  padding: 20px;
p {
  font-family: $sans;
  font-size: 12px;
margin: 1rem;
}
  border-radius: 5px;
}

.section-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.income-viz {
  width: 150%;

}
.healthcare-viz {
  width: 100%;
}