@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$sans: "Open Sans", "Helvetica", sans-serif;
$serif: "Playfair Display", Georgia, serif;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 600px;
  width: 80vw;
  margin: 0 auto;
}

.center {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0)
}

.sticky {
  position: sticky;
  z-index: -1;
  top: 0;
}

.step {
  height: 90vh;

  p {
    background-color: #FFFE;
    padding: 20px;
  }
}

section.header {
  width: 90vw;
  max-width: 800px;
  margin: 200px 0 100px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .hed, .subhed {
    font-family: $serif;
    font-weight: 400;
  }

  .globe-canvas {
    width: 30vw;
    max-width: calc(800px / 3);
    aspect-ratio: 1 / 1;
  }
}

section.intro {
  .intro-dots {
    top: 30vh;
    aspect-ratio: 1 / 1;

    svg {
      position: absolute;
    }

    span {
      text-align: right;
      transform: translate(-100%, 0);
      font-family: $sans;
      font-size: 12px;

      position: absolute;
      left: -10;
      transition: top 0.2s;
    }
  }
}
